* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(to right, rgb(75, 238, 75), rgb(64, 64, 148));
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mother {
  background: rgba(232, 232, 255, 0.493);
  padding: 10px 5px;
  min-width: 16%;
  box-shadow: 2px 2px 0 gray;
  border-radius: 6px;
}

.screen {
  background: black;
  color: white;
  font-size: 2rem;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 40px;
  padding-right: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 100%;
}

.keypad {
  display: grid;
  gap: 5px;
}

.row1 {
  display: grid;
  grid-template-columns: 120px auto auto;
}
.row2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.row3 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.row4{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.row5 {
  display: grid;
  grid-template-columns: auto auto 120px;
}

button {
  background-color: rgba(179, 230, 245, 0.7);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
  margin-left: 3px;
  font-weight: 700;
}

button:hover {
  background-color: rgb(179, 245, 245);
}

button:active {
  background-color: rgb(111, 172, 111);
}